{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="header">
    <div class="logo-container">
        <a href="/">
            <span class="logo-text">Selfplanr</span>
        </a>
    </div>
</header>
<div class="container">
    <div class="card">
        <div id="initial-content">
            <div class="icon">
                <img src="{% static 'selfplanr-logo.avif' %}" alt="IQ Test Icon">
            </div>
            <h2 class="test-title">See Your Real Chances at <span class="highlight">Top Colleges</span></h2>
            <ul class="test-list">
                <li>See your chances at Ivy League & top schools.</li>
                <li>Uncover strengths & gaps in your application.</li>
                <li>Get AI-powered tips to improve your odds.</li>
            </ul>
            <button id="start-btn" class="start-btn">Start Analysis</button>
        </div>
        <div id="form-content" class="hidden"></div>
        <div id="nav-buttons" class="hidden">
            <button id="prev-btn" class="nav-btn hidden">Previous</button>
            <button id="next-btn" class="nav-btn" disabled>Next</button>
        </div>
    </div>
</div>
<script src="{% static 'script.js' %}"></script>
{% endblock %}
